<div
  class="w-full bg-yellow-400 text-black font-bold text-center py-2 border-b-4 border-black flex items-center gap-2"
>
  <span
    class="dark:bg-black bg-white/40 dark:text-red-500 font-semibold py-0.5 text-xs px-3"
  >
    🚧 ALERT
  </span>

  <a
    href="https://github.com/BC-Robotics-4504/bcr-site"
    class="hover:underline dark:text-black font-medium"
  >
    This website is still under heavy construction! Not all information here is accurately representative of our team. »
  </a>
</div>
